.slick-slider {
	.slick-arrow {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 30;
		background-color: transparent;
		border: none;
		color: $light;
		opacity: .7;
		padding: 0;
		font-size: 2.5rem;
		line-height: 1;
		cursor: pointer;
		transition: all .3s ease-in-out;
		outline: none;

		&:hover {
			color: $primary;
			opacity: 1;
		}

		&.slick-next {
			left: 4.375rem;
		}
	}

	.slick-dots {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;

		>li {
			margin: 0 5px;
			line-height: 0;
		}

		button {
			background: $gray-300;
			border: none;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			font-size: 0;
			padding: 0;
			cursor: pointer;
			outline: none !important;
			transition: all .3s ease-in-out;

			&:hover {
				background: $gray-500;
			}
		}

		.slick-active {
			button {
				background: $primary;
			}
		}
	}
}
