$primary                         : #DBAC69; // Gold
$gray-200                        : #EEF1F2;
$gray-500: #3F3F3F;
$gray-600                        : #757575;
$gray-700                        : #4B4B4B;
$gray-800                        : #464646;
$gray-900                        : #282828;
$light                           : #fff;
$dark                            : #171717;

$font-Helvetica                  : 'Helvetica Neue';

// customize bootstrap

$font-family-base: $font-Helvetica;
$border-radius: 0;

$body-color: $dark;


// _reboot.scss
$font-size-base: 1.125rem;
$font-size-regular: 1rem;
$font-size-sm: .875rem;

$font-weight-thin: 100;
$font-weight-light : 300;
$font-weight-medium: 500;
$font-weight-base: $font-weight-light;

//_type.scss



$h1-font-size                    : $font-size-regular * 3; // 48px
$h2-font-size                    : $font-size-regular * 2.25; // 36px
$h3-font-size                    : $font-size-regular * 1.5; // 24px
$h4-font-size                    : $font-size-regular * 1.25; // 20px
$h5-font-size                    : $font-size-regular * 1.125; // 18px
$h6-font-size                    : $font-size-sm;


$link-hover-decoration           : none;
$navbar-dark-color               : $light;
$navbar-dark-hover-color         : $primary;
$navbar-dark-active-color        : $light;
$navbar-dark-disabled-color      : rgba($light, .5);
$navbar-dark-toggler-border-color: $light;
$navbar-nav-link-padding-x       : 1.875rem;
$input-border-color              : $gray-700;
$input-color                     : $light;
$input-border-radius             : 3px;
$input-bg                        : transparent;
$input-padding-x                 : 0.875rem;
$input-padding-y                 : 1rem;
$input-height                    : 3.125rem;
$input-line-height               : 1.2;
$btn-padding-y                   : 1rem;
$btn-padding-x                   : 3.75rem;
$btn-font-weight                 : $font-weight-medium;
$btn-border-radius               : $input-border-radius;

