<!-- begin of mixin slider -->
mixin slide-header-item-content(background, title, description)
	article.slide-header-item-content&attributes(attributes)
		- background = "background-image: url(" + background + ")";
		.slide-item-thumb(style=background)
		.slide-item-content
			h1.title!= title
			p.description!= description
//- Lưu ý ở đây về cách đặt biến của Thủy khiến có thể dễ dàng chọn background -> Tuyệt vờiiiiii
<!-- end of mixin slider -->

<!-- begin of mixin form -->
mixin form(name, title = 'Đăng ký nhận tư vấn')
	- var academicLevel = ["Đã tốt nghiệp THPT", "Đã tốt nghiệp Trung cấp", "Đã tốt nghiệp Cao đăng", "Đã tốt nghiệp Đại học", "Đang là sinh viên"];
	- var major = ["Quản trị kinh doanh", "Kinh tế quốc tế", "Luật thương mại quốc tế"];
	form.form-dark(name=name)&attributes(attributes)
		h5.legend !{title}
		.form-group
			input.form-control(name="" type="text" placeholder="Họ và tên")
		.form-group
			input.form-control(name="" type="email" placeholder="Email")
		.form-group
			input.form-control(name="" type="text" placeholder="Vui lòng điền số điện thoại của bạn")
		.row.no-gutters
			.col.mr-3
				.form-group
					select.form-control(name="")
						option(value="") Năm sinh
			.col
				.form-group
					select.form-control(name="")
						option(value="") Nơi ở
						option(value="Hà Nội") Hà Nội
		.form-group
			select.form-control(name="")
				option(value="") Trình độ học vấn
					each val in academicLevel
						option(value=val)= val
		.form-group
			select.form-control(name="")
				option(value="") Ngành học
				each val in major
					option(value="#{val}")= val
		.text-center.mt-4
			button.btn.btn-primary.text-uppercase(type="submit") Đăng ký
//- Chú ý cái cách đặt giá trị trong array của Thủy --> Tuyệt con mẹ nó vời : ))))
<!-- end of mixin form -->

