// =============================================================================
// Slide header item width
// =============================================================================

@mixin slide-item-width($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @if $container-max-width >= 960px {
      @include media-breakpoint-up($breakpoint, $breakpoints) {
        width: calc((100vw - #{$container-max-width}) / 2 + #{$container-max-width} * 5 / 6) !important;
      }
    }
  }
}

// =============================================================================
// Pesuedo before, after asbsolute
// @width: default 100%
// @height: default 100%
// @content: default nothing ''
// Other properties must be set by hands is top, bottom, left, right, z-index
// =============================================================================

@mixin el-before($width: 100%, $height: 100%, $content: '') {
  content: $content;
  position: absolute;
  width: $width;
  height: $height;
}


// =============================================================================
// Offset left container
// =============================================================================

@mixin outside-container-offset($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      left: calc((100vw - #{$container-max-width})/2 + #{$grid-gutter-width}/2);
    }
  }
}

@mixin outside-container-offset-right($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      right: calc((100vw - #{$container-max-width})/2 + #{$grid-gutter-width}/2);
    }
  }
}

@mixin outside-container-offset-slick-next($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      left: calc((100vw - #{$container-max-width})/2 + 4.375rem);
    }
  }
}

// =============================================================================
// Form size by breakpoint
// =============================================================================
@mixin form-size($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      @if $container-max-width >= 1140px {
        width: $container-max-width / 3;
      } @else if $container-max-width >= 960px {
        width: 350px;
      }
    }
  }
}
