.page-header {
  position: relative;

  .slide-header {
    .slide-item-thumb {
      height: 100vh;

      @media screen and (orientation: landscape) {
        height: 100vh;
      }

      @include media-breakpoint-up(lg) {
        height: 46.875rem;
        max-height: 46.875rem;
      }
    }
  }

  .header-form {
    @include form-size();
    @include media-breakpoint-up(lg) {
      position: absolute;
      @include outside-container-offset-right();
      bottom: 4.6875rem;
      z-index: 4;
    }
  }
}

// CHECK README

.slide-header {
	.slide-item {
		position: relative;
		z-index: 0;

		&::before {
			@include el-before();
			background: linear-gradient(-180deg, rgba($dark, 0.76) 0%, $dark 100%);
			z-index: 1;
			bottom: 0;
			left: 0;
			right: 0;
			transition: all .7s ease-in-out;
		}

		.slide-item-thumb {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			@include slide-item-width();
			transition: all .3s ease-in-out;
		}

		.slide-item-content {
			position: absolute;
			color: $light;
			bottom: 5rem;
			z-index: 2;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-2rem);
			transition: all 1s ease-in-out;

			@include media-breakpoint-up(md) {
				bottom: 9rem;
			}

			@include outside-container-offset();

			@include media-breakpoint-down(xs) {
				left: $grid-gutter-width/2;
			}

			.title {
				color: $primary;

				@include media-breakpoint-down(sm) {
					font-size: 1.875rem;
				}
			}

			.subtitle {
				display: block;
				font-size: $h4-font-size;
				text-transform: uppercase;
				color: $light;

				@include media-breakpoint-down(sm) {
					font-size: $font-size-sm;
				}
			}

			.description {
				max-width: 28rem;
				font-size: $font-size-sm;
			}
		}
	}

	.slick-current.slick-active .slide-item {
		.slide-item-content {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}

		&::before {
			@include el-before(101%, 70%, '');
			background: linear-gradient(-180deg, rgba($dark, 0) 0%, $dark 100%);
		}

		.slide-item-thumb {
			transform: translateX(0);
		}
	}

	.slick-arrow {
		@include outside-container-offset();
		bottom: 2rem;

		@include media-breakpoint-down(xs) {
			left: $grid-gutter-width/2;
		}

		&.slick-next {
			@include outside-container-offset-slick-next();
		}

		@include media-breakpoint-up(md) {
			bottom: 6rem;
		}
	}
}


// Form
form {
	font-size: $font-size-sm;
}

.form-dark {
	background: $gray-900;
	padding: $grid-gutter-width $grid-gutter-width/2;
	border-radius: $input-border-radius;

	@include media-breakpoint-up(sm) {
		padding: $grid-gutter-width;
	}

	legend,
	.legend {
		color: $primary;
		text-align: center;
		font-weight: $font-weight-bold;
		margin-bottom: 1.25rem;
	}

	.form-control {
		font-size: $font-size-sm;
	}

	select.form-control {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;
		background: url(../images/ic-caret-down.svg) no-repeat;
		background-size: 10px auto;
		background-position: right 12px center;
	}
}