.navbar-top {
	background: rgba(0, 0, 0, .71);

	.nav-link {
		letter-spacing: 1.37px;
		font-size: $font-size-sm;
		font-weight: $font-weight-medium;
		white-space: nowrap;
	}

	.navbar-brand {
		img {
			height: 1.15rem;

			@include media-breakpoint-up(md) {
				height: 2.2rem;
			}

			@media screen and (max-width: 400px) {
				height: 1.25rem;
			}
		}
	}
}