include ../_mixins/_mixin-header

// Start .page-header

header.page-header.bg-dark#page-header
	.slide-header(data-aos="fade-down" data-aos-delay="700")
		.slide-item
			+slide-header-item-content(
				"images/slide-1.jpg",
				"<span class='subtitle'>Chương trình </span> Cử nhân trực tuyến",
				"Đại học Ngoại Thương = Topica<br>Tuyển sinh Đại học, Liên Thông, Văn Bằng 2"
			)
		.slide-item
			+slide-header-item-content(
				"images/slide-2.jpg",
				"<span class='subtitle'>Chương trình </span> Cử nhân trực tuyến",
				"Đại học Ngoại Thương = Topica<br>Tuyển sinh Đại học, Liên Thông, Văn Bằng 2"
			)
	.header-form.d-none.d-lg-block(data-aos="fade-down" data-aos-delay="1000")
		+form()
// End .page-header








//- mixin slide-header-item-content(background, title, description)
//- 	article.slide-header-item-content&attributes(attributes)
//- 		- background = "background-image: url(" + background + ")";
//- 		.slide-item-thumb(style=background)
//- 		.slide-item-content
//- 			h1.title!= title
//- 			p.description!= description