// Start .nav
nav.navbar.navbar-expand-lg.navbar-dark.navbar-top.fixed-top#navbar-top(data-aos="fade-down")
	.container
		a.navbar-brand(href='#')
			img(src="images/logo-topica-ftu.png" alt="FTU Topica")
		a.btn.btn-outline-primary.d-lg-none.px-4.py-2.btn-scroll(href='#section-register') Đăng ký
		#navbarSupportedContent.collapse.navbar-collapse
			ul.navbar-nav.ml-auto
				li.nav-item
					a.nav-link.btn-scroll(href='#section-benefit') Lợi ích chương trình
				li.nav-item
					a.nav-link.btn-scroll(href='#section-certificate') Bằng cấp, chứng chỉ
				li.nav-item
					a.nav-link.btn-scroll(href='#section-warranty') Cam kết việc làm
				li.nav-item
					a.nav-link.btn-scroll(href='#section-register') Đăng ký
// End .nav
